.search-section{
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 290px;
}

.heading{
  color: yellow;
}

.search-bar::placeholder {
  color: black;
  font-style: italic;
  font-size: 16px;  
}

.search-bar {
  border-radius: 30px;
  height: 50px;
  width: 300px;
  padding-left: 14px;
  outline: none;
  margin-left: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card {
  background-color: beige;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 300px;  
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-details {
  color: white;
  margin-top: 10px;
  padding: 16px;
  background: linear-gradient(to right, #5b5c55, #849f59);
  border-radius: 20px;
}

.card-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-info {
  font-size: 14px;
  margin-bottom: 3px;
}

.no-results{
  justify-content: center;
  display: flex;
  color: blue;
}

