/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* Add your own styling or use a CSS-in-JS solution like styled-components */
/* .search-section{
  height: auto;
  justify-content: center;
  margin: 20px 30px 90px 290px;
} */

.search-section{
  /* margin-bottom: 10%;
  justify-content: center; */
  
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 290px;
}

.heading{
  color: yellow;
}

.search-bar::placeholder {
  /* Add your styles here */
  color: black; /* Placeholder text color */
  font-style: italic; /* Optionally, you can italicize the placeholder text */
  font-size: 16px;
  
}

.search-bar {
  border-radius: 30px;
  height: 50px;
  width: 300px;
  padding-left: 10px;
  outline: none;
  margin-left: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-details {
  margin-top: 10px;
}

.card-name {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-info {
  font-size: 14px;
  margin-bottom: 3px;
}



.no-results{
  justify-content: center;
  display: flex;
  color: blue;
}

